<%= month_calendar events: @day_records do |date, day_records| %>
  <% if day_records.present? %><!--userコントローラで定義しているday_recordsが存在しているかどうか-->
    <%= link_to date.day, edit_day_record_path(day_records) %><!--編集ページへのpathは指定する-->
  <% else %>
    <%= link_to date.day, new_day_record_path(day: date) %><!--.dayを追記することでカレンダー内の日付の年月が非表示になる-->
  <% end %>
  <% day_records.each do |day_record| %>
    <% if day_record.day_expenditure_total == 0 %>
      <h2 class="text-center"><i class="fas fa-piggy-bank"></i></h2>
    <% else %>
      <div class="">
        <h5><%= link_to day_record.day_expenditure_total, day_record_path(day_record) %></h5>円
      </div>
    <% end %>
  <% end %>
<% end %>