<%= month_calendar events: @day_records do |date, day_records| %>
  <%= link_to date.day, new_day_record_path %><!--.dayを追記することでカレンダー内の日付の年月が非表示になる-->
  <% day_records.each do |day_record| %>
    <% if day_record.day_expenditure_total == 0 %>
      <h3><i class="fa-solid fa-award"></i></h3>
    <% else %>
      <div>
        <%= link_to day_record.day_expenditure_total, day_record_path(day_record) %>
      </div>
    <% end %>
  <% end %>
<% end %>