<!--シンプルカレンダー-->
<%= month_calendar events: @day_records do |date, day_records| %>
  <!--userコントローラで定義しているday_recordsが存在しているかどうか-->
  <% if day_records.present? %>
    <!--編集ページへのpathは指定する-->
    <%= link_to date.day, edit_day_record_path(day_records) %>
  <% else %>
    <!--dateの後ろに　.day　を追記することでカレンダー内の日付の年月が非表示になる-->
    <%= link_to date.day, new_day_record_path(day: date) %>
  <% end %>
  
  <!--日付毎の枠内：day_recordの記録が0円だとアイコンが表示、falseだと合計金額が表示-->
  <% day_records.each do |day_record| %>
    <% if day_record.day_expenditure_total == 0 %>
      <h2 class="text-center"><i class="fas fa-piggy-bank"></i></h2>
    <% else %>
      <div class="mt-2 text-center">
        <h5 class="amount"><%= link_to day_record.day_expenditure_total, day_record_path(day_record) %></h5>円
      </div>
    <% end %>
  <% end %>
<% end %>