<h1>マネ×マネTop</h1>
<div class="container my-4">
  <div class="row justify-content-center">
    <%= link_to users_guest_sign_in_path, class: "btn btn-secondary btn-sm mb-3 sign_in", method: :post do %>
    ゲストログインする
    <% end %>
  </div>
</div>