@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'header';
@import 'simplecalendar';
@import 'month';
@import 'day';

//month_recordとday_recordの詳細ページ
.total-border {
  border-top: 3px solid #404040;
}

//topページ・項目毎のページ
// .height {
//   height: 60vh;
// }
// .signup-height {
//   height: 72vh;
// }
// .signin-height {
//   height: 72vh;
// }

.main-image {
  height: 940px;
  background-repeat: none;
}
.topimage {
  margin-top: -10px;
  margin-right: 60px;
}

//記録フラッシュメッセージ
.save-background-color {
  background: radial-gradient(#f90, #fff)
}
.update-background-color {
  background: radial-gradient(#4d0, #fff);
}
.fraud-background-color {
  background: radial-gradient(#d44, #fff);
}

//
.footerFixed {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}