@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'simplecalendar';
@import 'month';
@import 'day';

//headerとfooterの背景色
.hf-bg-color {
  background-color: #cceebb;
}

//month_recordとday_recordの詳細ページ
.total-border {
  border-top: 3px solid #404040;
}

//Topページ
.main-image {
  height: 940px;
  background-repeat: none;
}
.topimage {
  margin-top: -10px;
  margin-right: 60px;
}

//月・日それぞれの記録フラッシュメッセージ
.save-background-color {
  background: radial-gradient(#f90, #fff)
}
.update-background-color {
  background: radial-gradient(#4d0, #fff);
}
.fraud-background-color {
  background: radial-gradient(#d44, #fff);
}

//フッター
 //bodyタグの直下にクラスを作る
 //100vhは画面全体で高さを指定
.footerFixed {
  //最低100vh
  min-height: 100vh;
  //フッターの位置を決める、子要素のposition: absoluteを使用するため
  position: relative;
  //mainとフッターが重ならないようにフッターの高さ
  padding-bottom: 100px;
  //親要素の箱の中に子要素の箱全体が収まるようにする
  box-sizing: border-box;
}
footer {
  //親要素のposition: relativeを基準にしてposition: absoluteをどの位置にするか
  //top/bottom/right/left、横幅を100%(画面いっぱいに表示)で指定する
  position: absolute;
  bottom: 0;
  width: 100%;
}

//月・日・ブックマークの一覧ページ
.income-total {
  background-color: #ffeecc;
}
.expenditure-total {
  background-color: #ddeeff;
}
.freedom-money {
  background-color: #cceedd;
}