.day-box {
  margin: 0;
}
.day-title {
  width: 110px;
  height: 45px;
  border: 1px solid #a0a0a0;
  border-top: none;
  margin: 0;
  padding-top: 2px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  line-height: 45px;
}
.day-index {
  width: 111px;
  height: 45px;
  border: 1px solid #a0a0a0;
  border-top: none;
  border-left: none;
  margin: 0;
  padding-right: 4px;
  line-height: 45px;
  display: flex;
  justify-content: right;
  font-size: 14px;
}
.memo-box {
  padding:2px;
  justify-content: center;
}

.day-box > div:nth-child(1) {
  border-top: 1px solid #a0a0a0;
}

//日の支出とブックマークのindexの表内の左上（項目・月日）
.oblique-line { 
  position: relative; //親要素につける
}
.oblique-line div { 
  transform: rotate(22deg);
  position: absolute; //子要素につける
  top: 21px;
  z-index: 1; //親と子の奥行きをz-indexでつける
  width: 118px;
  height: 1px;
  border: 0;
  border-top: 1px solid #a0a0a0;
  margin: 0;
  padding: 0;
}
.title-item {
  position: absolute;
  top: 7px;
  left: 8px;
}
.title-day {
  position: absolute;
  bottom: 6px;
  right: 6px;
}