.flex {
  display: flex; //flexの1つ下の子要素を横並びにする
  margin-left: 0;
  justify-content: center;
}

//ここからmonth_recordのindex
.month-box {
  margin: 0;
}
.month-title {
  width: 100px;
  height: 45px;
  border: 1px solid #a0a0a0; //solidは線の種類（実線）
  border-top: none;
  margin: 0;
  padding-top: 2px;
  font-size: 14px;
  display: flex; //justify-content: center;を使うためにFlexにする
  justify-content: center; //文字の中央寄せ(Flex)
}
.month-index {
  width: 83px;
  height: 45px;
  border: 1px solid #a0a0a0;
  border-top: none;
  border-left: none;
  margin: 0;
  padding-right: 4px;
  line-height: 45px;
  display: flex;
  justify-content: right;//(Flex)
}

//month-boxの中のmonth-titleとmonth-indexのそれぞれ1つのみ指定
.month-box > div:nth-child(1) { 
  border-top: 1px solid #a0a0a0;
  justify-content: center;
  padding: 0;
}
.in-box {
  line-height: 45px; //45pxある高さの内の高さを中央寄せ
  padding-top: 0;
}


//表内の左上の項目・年月
.month-oblique-line {
  position: relative;
}
.month-oblique-line div {
  transform: rotate(23deg);
  position: absolute;
  top: 21px;
  z-index: 1;
  width: 106px;
  height: 1px;
  border: 0;
  border-top: 1px solid #a0a0a0;
  margin: 0;
  padding: 0;
}
.title-item-month {
  position: absolute;
  top: 7px;
  left: 8px;
}
.title-day-month {
  position: absolute;
  bottom: 6px;
  right: 6px;
}