.simple-calendar {
  .day {
    // background: #fff9ee;
  }
  .wday-0 {
    background-color: #ffeaea;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: #d4ebff;
  }
  .today {
    background-color: #e8ffd1;
  }
  .past {}
  .future {}
  .start-date {}
  .prev-month {
    background-color: #f2f2f2;
  }
  .next-month {
    background-color: #f2f2f2;
  }
  .current-month {
    height: 100px;
    width: 130px; // 横幅130にならないのはなぜ？
  }
  .has-events {}
}

.fa-piggy-bank {
  color: #77bb00;
}