<footer class="hf-bg-color py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <%= image_tag 'rogomanemane.jpg', :size => '200x70' %>
      </div>
      <div class="row texe-center">
        <div class="col p-0">
          <P>管理者の想い：</p><br>
          <p>マネ×マネを使用する皆さまが楽しくお金の管理ができますように...</p>
        </div>
      </div>
    </div>
  </div>
</footer>